/* Hero Card */
.card__list {
  position: relative;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  overflow-y: hidden;
  transition: 0.3s;
}
.card__list:hover {
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, 0.1);
  padding: 0 0 3rem 0;
}
.card__tag {
  background-color: var(--first-color);
  padding: 0.8rem 1.6rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform-origin: top left;
  left: 0;
  top: 0;
  transform: rotate(-90deg) translateX(-100%);
}
.card__img {
  height: 300px;
  margin: 0 auto;
}
.card__description {
  width: 100%;
  text-align: center;
  background-color: var(--first-color);
  padding: 0.3rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
}
.card__list:hover .card__description {
  transform: translateY(0);
  opacity: 1;
  cursor: pointer;
}

.card__name {
  line-height: 21px;
  height: calc(1 * 21px);
  overflow: hidden;
  position: relative;
}
.card__name::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 21px;
  background: linear-gradient(90deg, transparent, hsl(31, 100%, 70%));
}
